<!--<div class="comteiner">
    <h3></h3>
    <div>
        <div>
            <input type="text"
            class="input-search"
            [(ngModel)]="FSearchValue">

            <button class="btn-search"
                    (click)="onClickSearch()"
                    [disabled]="!hasSearchValue()">{{ txtBtnSearch }}</button>
        </div>
        <div>
            <button class="btn-add"
                    (click)="onClickAdd()">{{ txtBtnAdd }}</button>
        </div>
    </div>
</div>
-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">{{ txtCapHeader }}</a>
        </div>

    </div>
</nav>